.modal {
  min-height: 100%;
  width: 100%;
  padding: 2rem 0;
}

.popup-content {
  width: 90vw !important;
  height: 90vh !important;
  padding: 1rem !important;
  background-color: #fff !important;
  border: none !important;
  overflow-y: auto;
  border-radius: 15px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  cursor: default;
  position: relative;
}

.modal-button__close {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: black;
  color: white;
  width: 64px;
  height: 64px;
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 24px;
  left: 24px;
  z-index: 999;
  border-radius: 50%;
  transition: all 150ms ease-in;
  outline: none;
  border: none;
}

.modal-button__close:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}

/* MODAL HEADER */
.modal-header {
  display: flex;
  margin-top: -64px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
}

.modal-header__logo {
  width: 250px;
  height: 250px;
  margin-right: 1rem;
}

.modal-header__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-header__info-title {
  text-align: center;
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 500;
  margin-bottom: 2rem;
}

.modal-header__info-details > span {
  margin: 1rem 1rem;
  font-size: 1.1rem;
}

/* MOBILE QUERY */
@media (max-width: 500px) {
  .modal {
    padding: 1rem 0;
    display: block;
  }
  .modal-button__close {
    width: 48px;
    height: 48px;
    top: 15px;
    left: 5px;
    position: fixed;
  }

  .modal-header {
    flex-direction: column;
  }

  .modal-header__logo {
    width: 150px;
    height: 150px;
    margin-right: 0rem;
  }

  .modal-header__info-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .modal-header__info-details > span {
    display: block;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
