.modal-table {
  width: 80%;
  margin: 2rem auto;
  position: relative;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.2);
  font-family: "Roboto";
  padding: 2rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.modal-table__header > tr {
  background-color: #333;
  color: white;
  width: 100%;
}

.modal-table__header > tr > th {
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  line-height: 1;
  padding: 1rem 0;
}

.modal-table__body {
  width: 100%;
  /* overflow: auto; */
  height: 200px;
}

.modal-table__body > tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-table__body > tr:nth-child(odd) {
  background: #ddd;
}

.modal-table__body > tr > td {
  text-align: center;
}

.modal-table__image {
  height: 100px;
}

@media (max-width: 900px) {
  .modal-table {
    width: 100%;
    table-layout: auto;
  }

  .modal-table__image {
    height: 100%;
  }

  .modal-table__header {
    position: absolute;
    z-index: -9999;
  }

  .table-row {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .table-row > td {
    display: flex;
    justify-content: space-between;
  }

  .info-field:nth-child(odd) {
    background: #333;
    color: white;
  }

  /* name */
  .table-row > td:nth-child(2) {
    font-size: 1.5rem;
    align-self: center;
    margin-bottom: 1rem;
  }
  /* GP */
  .table-row > td:nth-child(3)::before {
    content: "Games played: ";
    font-weight: 600;
  }
  /* PPG */
  .table-row > td:nth-child(4)::before {
    content: "PPG: ";
    font-weight: 600;
  }
  /* RPG */
  .table-row > td:nth-child(5)::before {
    content: "RPG: ";
    font-weight: 600;
  }
  /* APG */
  .table-row > td:nth-child(6)::before {
    content: "APG: ";
    font-weight: 600;
  }
  /* BPG */
  .table-row > td:nth-child(7)::before {
    content: "BPG: ";
    font-weight: 600;
  }
  /* FG% */
  .table-row > td:nth-child(8)::before {
    content: "FG%: ";
    font-weight: 600;
  }
  /* 3P% */
  .table-row > td:nth-child(9)::before {
    content: "3P%: ";
    font-weight: 600;
  }
  /* 3P% */
  .table-row > td:nth-child(10)::before {
    content: "FT%: ";
    font-weight: 600;
  }
}
