.team-card {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  cursor: pointer;
  transition: all 150ms ease;
  margin: 0.5rem;
}

.team-card:hover {
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}
